
 <div class="container row">
 
    <div class="content col-xs-12 col-md-6 col-lg-4">
      <img src="./img/blackandwhitebear.jpg" alt="Roaring Bear" >
      <h4>Hear me roar</h4>
      <p>A hand drawn and coloured picture of a roaring bear.</p>
    </div>
 

    <div class="content col-xs-12 col-md-6 col-lg-4">
    <img src="./img/spacebear.jpg" alt="Bear on the moon" >
      <h4>Space Bear</h4>
      <p>Cute cartoon bear on the moon</p>
    </div>
  
  
  
    <div class="content col-xs-12 col-md-6 col-lg-4">
      <img src="./img/Fabrizio-smartphone.jpg" alt="Smartphone Infographic" >
      <h4>Smartphone Infographic</h4>
      <p>A smartphone infographic made to represent the use and effects of smartphones.</p>
    </div>
    
    
  
    <div class="content col-xs-12 col-md-6 col-lg-4">
    <img src="./img/newlogo.jpg" alt="CKDJ Logo" >
      <h4>CKDJ New Logo</h4>
      <p>A re-designed logo for CKDJ 107.9</p>
    </div>



    <div class="content col-xs-12 col-md-6 col-lg-4">
    <img src="./img/Fabriziobillboard.jpg" alt="Fabrizio's Postcard Mailer">
      <h4>My Postcard Mailer</h4>
      <p>Look out for my postcard mailer in a mail box near you soon!</p>
    </div>
  
 
    <div class="content col-xs-12 col-md-6 col-lg-4">
    <img src="./img/skull.jpg" alt="Scull illustration" >
      <h4>Grant Them Eternal Rest</h4>
      <p>A sketch insiped by the band Avenged Sevenfold.</p>
    </div>



    <div class="content col-xs-12 col-md-6 col-lg-4">
      <img src="./img/snowhut.jpg" alt="Cottage Illustration" >
      <h4>Winter Cabin</h4>
      <p>A sketch made to represent a calming cottage getaway.</p>
    </div>


    <div class="content col-xs-12 col-md-6 col-lg-4">
    <img src="./img/superhero.jpg" alt="Super hero flying" >
      <h4>The Protector</h4>
      <p>A hero among the people, he watches and he protects.</p>
    </div>
</div>





